$bg-light-gray: #e8e8e8; 
$bg-dark-gray:#efefef;
$text-gray:#9b9b9b;
$text-green:#6ed05c;
$text-light-blue:#96c4e6;
$text-dark-blue:#0d6efd;
$flex-box : 0 0 auto;
$font-size14:14px;
$font-size16:16px;
$bg-light-green:#77cb56;